{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.date_debut, 'Date de début') }}
                {{ form_widget(form.date_debut, {'attr': {'class': 'form-control datepicker'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.date_fin, 'Date de fin') }}
                {{ form_widget(form.date_fin, {'attr': {'class': 'form-control datepicker'}}) }}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                {{ form_label(form.article, 'Articles') }}
                {{ form_widget(form.article, {'attr': {'class': 'form-control select2'}}) }}
            </div>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-primary btn-block waves-effect waves-light">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}