{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.user.nom, 'Nom du client') }}
                {{ form_widget(form.user.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.user.prenom, 'Prenom du client') }}
                {{ form_widget(form.user.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.user.adresse, 'Adresse du client') }}
                {{ form_widget(form.user.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.user.email, 'Email du client') }}
                {{ form_widget(form.user.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-primary btn-block waves-effect waves-light">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}