{% extends 'base.html.twig' %}

{% block title %}
  TypeBien index
{% endblock %}

{% block content %}
  <!-- Page-Title -->
  <div class="row">
    <div class="col-sm-12">
      <h4 class="pull-left page-title">
        Types de biens
      </h4>
      <ol class="breadcrumb pull-right">
        <li><a href="/">Accueil</a></li>
        <li class="active">Types de biens</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-border panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Types de biens
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <div class="m-b-30 pull-right">
                <a href="{{ path('type_bien_new') }}"
                  class="btn btn-primary waves-effect waves-light">
                  Créer <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>
                  Id
                </th>
                <th>
                  Libelle
                </th>
                <th>
                  Nombre de bien
                </th>
                <th>
                  actions
                </th>
              </tr>
            </thead>
            <tbody>
              {% for type_bien in type_biens %}
                <tr>
                  <td>
                    {{ type_bien.id }}
                  </td>
                  <td>
                    {{ type_bien.libelle }}
                  </td>
                  <td>
                    {{ type_bien.biens|length }}
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-6">
                        <a class="btn btn-success waves-effect waves-light btn-block" href="{{
                          path(
                            'type_bien_show',
                            {
                              id: type_bien.id
                            }
                          )
                          }}">
                          Voir
                        </a>
                      </div>
                      <div class="col-sm-6">
                        <a class="btn btn-info waves-effect waves-light btn-block" href="{{
                          path(
                            'type_bien_edit',
                            {
                              id: type_bien.id
                            }
                          )
                          }}">
                          Modifier
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="3">
                    no records found
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
